<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Наша Бригада</h1>
    <ul>
      <% student.forEach(function(student) {
        %><li>
          <h2>Ім'я: <%= student.name%></h2>
          <h2>Група: <%= student.group%></h2>
          <h2>Спеціальність: <%= student.major%></h2>
        </li><%
      }) 
      %>
    </ul>
  </body>
</html>
