
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6fb;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background: #3f51b5;
    color: white;
    padding: 20px;
    margin: 0 0 20px 0;
}


p {
    font-size: 18px;
    color: #333;
}

button {
    padding: 12px 25px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    background: #3f51b5;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #2c3a8c;
    transform: scale(1.05);
}


a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #3f51b5;
    font-weight: bold;
}

a:hover {
    color: #9f4dff;
}

img {
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}


/* контейнер студентів */
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

/* карточка студента */
.card {
    background: white;
    padding: 20px;
    width: 220px;
    border-radius: 14px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* назад */
.back {
    display: inline-block;
    margin: 30px;
    padding: 12px 20px;
    background: #3f51b5;
    color: white;
    border-radius: 10px;
}

.back:hover {
    background: #2c3a8c;
}
